<div class="content" id="contacts">
  <div class="five-block">
    <div class="five-block-content">
      <div class="five-block-head">
        <h2 class="five-block-head-h2">Contacs</h2>
        <p class="five-block-head-p">Want to know more or just chat?<br>
          You are welcome!</p>
      </div>
      <a href="#social-network" class="button-a">Send message</a>
      <div class="five-block-ul-div">
        <ul class="five-block-ul" id="social-network">
          <li><a href="https://instagram.com/frex.x.x7?igshid=YzdkMWQ2MWU="><img src="./assets/images/insta-icon.png"
                alt=""></a></li>
          <li><a href="https://vk.com/frexxx_7"><img src="./assets/images/vk-icon.png" alt=""></a></li>
          <li><a href="https://t.me/frexxx7"><img src="./assets/images/telegram-icon.png" alt=""></a></li>
        </ul>
      </div>
      <p class="five-block-p">Like me on <br>Instagram, VKontacte</p>
    </div>
  </div>
</div>