<div class="four-block-background" id="portfolio">
  <div class="four-block">
    <div class="four-block-fl">
      <div class="four-block-h2-div">
        <h2 class="four-block-h2">Portfolio</h2>
      </div>
      <div class="work">
        <div class="work-1">
          <img src="./assets/images/austera.jpg" alt="">
          <div class="four-block-a">
            <a href="" >Austera</a>
          </div>
        </div>
        <div class="work-2">
          <img src="./assets/images/progrim.jpg" alt="">
          <div class="four-block-a">
            <a href="">Social Network - Progrim</a>
          </div>
        </div>
        <div class="work-3">
          <img src="./assets/images/computer.jpg" alt="">
          <div class="four-block-a">
            <a href="">Сomputer assembly course</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>