<div class="one-block">
  <header class="" id="header_">
    <div class="header-div" id="header-div">
      <div class="head-cen">
        <ul class="header-ul" id="header-ul">
          <li><a href="#" class="navEl">Home</a></li>
          <li><a href="#about-me" class="navEl">About me</a></li>
          <li><a href="#skills" class="navEl">Skills</a></li>
          <li><a href="#portfolio" class="navEl">Portfolio</a></li>
          <li><a href="#contacts" class="navEl">Contacts</a></li>
        </ul>
      </div>	
      <hr>
    </div>
  </header>
  <div class="infor" id="infor">
    <div class="div-infor-name">
      <h2 class="name">frexxx-7</h2>
    </div>
    <div class="burger" id="burger">
      <p id="burger-p">&#9776;</p>
    </div>
    <div class="div-infor-old">
      <p class="old">Web-development <br>17 years old</p>
    </div>
    <div class="div-infor-language">
      <p class="language"><a href="">RU</a>
       |<a href=""><span>ENG</span></a></p>
    </div>
  </div>
  <div class="img-div">
    <div class="img-img"></div>
  </div>
</div>
</div>