<div class="content" id="skills">
  <div class="three-block">
    <div class="three-block-div">
      <div class="three-block-head">
          <h2 class="three-block-h2">Skills</h2>
          <p class="three-block-p">I can work with the following</p>
      </div>
      <div class="three-block-skills-div">
        <div class="three-block-skills">
          <img src="./assets/images/html-ico.png" alt="">
          <p>HTML</p>
          <ul class="skills-ul">
            <li><img src="./assets/images/star-1.png" alt=""></li>
            <li><img src="./assets/images/star-1.png" alt=""></li>
            <li><img src="./assets/images/star-1.png" alt=""></li>
            <li><img src="./assets/images/star-1.png" alt=""></li>
            <li><img src="./assets/images/star-2.png" alt=""></li>
          </ul>
        </div>
        <div class="three-block-skills">
          <img src="./assets/images/css-ico.png" alt="">
          <p>CSS</p>
          <ul class="skills-ul">
            <li><img src="./assets/images/star-1.png" alt=""></li>
            <li><img src="./assets/images/star-1.png" alt=""></li>
            <li><img src="./assets/images/star-1.png" alt=""></li>
            <li><img src="./assets/images/star-1.png" alt=""></li>
            <li><img src="./assets/images/star-2.png" alt=""></li>
          </ul>
        </div>
        <div class="three-block-skills">
          <img src="./assets/images/js-ico.png" alt="">
          <p>JS</p>
          <ul class="skills-ul">
            <li><img src="./assets/images/star-1.png" alt=""></li>
            <li><img src="./assets/images/star-1.png" alt=""></li>
            <li><img src="./assets/images/star-1.png" alt=""></li>
            <li><img src="./assets/images/star-1.png" alt=""></li>
            <li><img src="./assets/images/star-2.png" alt=""></li>
          </ul>
        </div>
        <div class="three-block-skills">
          <img src="./assets/images/c-ico.png" alt="">
          <p>C#</p>
          <ul class="skills-ul">
            <li><img src="./assets/images/star-1.png" alt=""></li>
            <li><img src="./assets/images/star-1.png" alt=""></li>
            <li><img src="./assets/images/star-1.png" alt=""></li>
            <li><img src="./assets/images/star-2.png" alt=""></li>
            <li><img src="./assets/images/star-2.png" alt=""></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>