<div class="two-block-background" id="about-me">
  <div class="two-block">
    <div class="two-block-div">
      <div class="two-block-div-fl">
        <div class="two-block-div-h2">
          <h2 class="two-block-h2">About me</h2>
        </div>
        <div class="two-block-div-p">
          <p class="two-block-p-1">Hi, I'm frexxx-7 – 
          Web developer.I am engaged in layout and various branches of programming. Not only web</p>
          <p class="two-block-p-2">I am currently practicing my layout skills on this site using SCSS.</p>
          <p class="two-block-p-3">Ready to accept orders for layout of almost any complexity</p>
        </div>
      </div>
    </div>
  </div>
</div>