%head-property{
	font-family: 'Gilroy-Bold',sans-serif;
	font-size: 18px;
	line-height: 22px;
	color: #828282;
	font-weight: bold;
}
%content-font{
	font-family: 'Gilroy-Medium',sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}